header {
    background-color: var(--color-primary);
    height: 3.75em;
    display: flex;
    align-items: center;
}

.dsmovie-nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}

.dsmovie-contact-container{
    display: flex;
    align-items: center;
}

.dsmovie-contact-link{
    margin: 0 0 0 0.625em;
    color: white;
    text-decoration: none;
    font-size: 0.75em;
}

.dsmovie-nav-content h1{
    margin: 0;
    font-weight: 700;
    font-size: 1.5em;
}